<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listado de Categorías</title>
  <link rel="stylesheet" href="">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

  <link rel="stylesheet" href="/EcoUnity/static/categories.css">
</head>

<body>
  <header>
    <div class="navbar">
      <div class="logo"><a href="#">Ecounity Admin</a></div>
      <ul class="links">
        <li><a href="./categories.html">Editar Categorias</a></li>
        <li><a href="./map-crud.html">Añadir punto de reforestación</a></li>
        <li><a href="./customer.html">Administar usuarios</a></li>
        <li id="welcomeMessage"></li>
      </ul>
      <a href="./../../templates/pages/login.html" id="loginButton" class="action_btn">Acceder</a>

      <div class="toggle_btn">
        <i class="bx bx-menu"></i>
      </div>
      <div class="dropdown-menu">
        <ul>
          <li><a href="./inicio.html">Editar Categorias</a></li>
          <li><a href="./prueba.html">Añadir</a></li>
          <li><a href="./../../src/views/index.html">administrar usuarios</a></li>
        </ul>
      </div>
    </div>
  </header>


  <button class="ButtonReturn returnButton">
    <a class="btn-regresar" href="./products.html">Volver</a>
  </button>
  <div class="container">
    <h2 class="tittle">Listado de Categorías</h2>
    <div class="Listas">
      <div class="categories">
        <ul id="categoriesList"></ul>
      </div>
    </div>

    <form id="categoryForm">
      <input type="text" id="nameInput" placeholder="Nombre" />
      <input type="text" id="imageInput" placeholder="Imagen URL" />
      <button type="submit">Crear Categoría</button>
    </form>

    <script>

      // button
      document.addEventListener('DOMContentLoaded', function () {
        var toggleBtn = document.querySelector('.toggle_btn');
        var dropdownMenu = document.querySelector('.dropdown-menu');

        toggleBtn.addEventListener('click', function () {
          dropdownMenu.classList.toggle('open');
        });
      });
      
      document.addEventListener('DOMContentLoaded', function () {
        var toggleBtn = document.querySelector('.toggle_btn');
        var dropdownMenu = document.querySelector('.dropdown-menu');

        toggleBtn.addEventListener('click', function () {
          dropdownMenu.classList.toggle('open');
        });
      });


      const categoryForm = document.getElementById("categoryForm");
      categoryForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const name = document.getElementById("nameInput").value;
        const image = document.getElementById("imageInput").value;
        try {
          const response = await fetch(
            "http://localhost:3000/api/v1/categories",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${token}`,
              },
              body: JSON.stringify({ name, image }),
            }
          );
          if (!response.ok) {
            throw new Error("Failed to create category");
          }
          alert("Category created successfully");
          loadAllCategories();
        } catch (error) {
          console.error("Error:", error);
          alert("Failed to create category");
        }
      });

      const loadAllCategories = async () => {
        try {
          const token = localStorage.getItem("token");
          const response = await fetch(
            "http://localhost:3000/api/v1/categories",
            {
              headers: {
                Authorization: `Bearer ${token}`,
              },
            }
          );

          if (!response.ok) {
            throw new Error("Failed to fetch categories");
          }

          const categories = await response.json();
          updateList(categories);
        } catch (error) {
          console.error("Error:", error);
          alert("Failed to fetch categories");
        }
      };

      const updateList = (categories) => {
        const categoriesList = document.getElementById("categoriesList");
        categoriesList.innerHTML = "";

        categories.forEach((category) => {
          const idLi = document.createElement("li");
          idLi.textContent = `Id: ${category.id}`;
          categoriesList.appendChild(idLi);

          const nameLi = document.createElement("li");
          nameLi.textContent = `Nombre: ${category.name}`;
          categoriesList.appendChild(nameLi);

          const imageLi = document.createElement("li");
          imageLi.textContent = `Imagen: ${category.image}`;
          categoriesList.appendChild(imageLi);

          const deleteButton = document.createElement("button");
          deleteButton.textContent = "Eliminar";
          deleteButton.addEventListener("click", () => {
            deleteCategory(category.id);
          });
          categoriesList.appendChild(deleteButton);

          const updateButton = document.createElement("button");
          updateButton.textContent = "Actualizar";
          updateButton.addEventListener("click", () => {
            openEditCategoryModal(category);
          });
          categoriesList.appendChild(updateButton);
        });
      };

      const deleteCategory = async (categoryId) => {
        try {
          const response = await fetch(
            `http://localhost:3000/api/v1/categories/${categoryId}`,
            {
              method: "DELETE",
              headers: {
                Authorization: `Bearer ${token}`,
              },
            }
          );
          if (!response.ok) {
            throw new Error("Failed to delete category");
          }
          alert("Category deleted successfully");
          loadAllCategories();
        } catch (error) {
          console.error("Error:", error);
          alert("Failed to delete category");
        }
      };

      const openEditCategoryModal = (category) => {
        const fieldToEdit = prompt(
          "Choose field to edit: name or image"
        ).toLowerCase();
        if (fieldToEdit === "name") {
          const newName = prompt("Enter new name:");
          if (newName === null) return; // User cancelled
          updateCategory(category.id, { name: newName });
        } else if (fieldToEdit === "image") {
          const newImage = prompt("Enter new image URL:");
          if (newImage === null) return; // User cancelled
          updateCategory(category.id, { image: newImage });
        } else {
          alert("Invalid field selection. Please choose 'name' or 'image'.");
        }
      };

      const updateCategory = async (categoryId, newData) => {
        try {
          const response = await fetch(
            `http://localhost:3000/api/v1/categories/${categoryId}`,
            {
              method: "PATCH",
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${token}`,
              },
              body: JSON.stringify(newData),
            }
          );
          if (!response.ok) {
            throw new Error("Failed to update category");
          }
          alert("Category updated successfully");
          loadAllCategories();
        } catch (error) {
          console.error("Error:", error);
          alert("Failed to update category");
        }
      };

      document.addEventListener("DOMContentLoaded", loadAllCategories);
    </script>
</body>

</html>