<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/EcoUnity/static/change-password.css">
    <title>Change Password</title>
</head>

<body>
    <div class="login">
        <div class="form-container">
            <img src="./logos/logo_yard_sale.svg" alt="logo" class="logo">

            <form id="changePasswordForm" class="form">
                <h1 class="title">Restablecer contraseña</h1>
                <p class="subtitle">Ingresa una nueva contraseña para tu cuenta </p>

                <label for="password" class="label">Nueva contraseña:</label>
                <input type="password" id="password" name="password" placeholder="*********"
                    class="input input-password" required>

                <label for="confirmPassword" class="label">Confirma la contraseña:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="*********"
                    class="input input-password" required>

                <div id="errorMessage" class="error"></div>
                <button type="submit" class="primary-button login-button">Cambiar contraseña</button>
            </form>
        </div>
    </div>

    <script>
        const changePasswordForm = document.getElementById('changePasswordForm');
        const errorMessage = document.getElementById('errorMessage');

        changePasswordForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(changePasswordForm);
            const password = formData.get('password');
            const confirmPassword = formData.get('confirmPassword');

            if (password !== confirmPassword) {
                errorMessage.textContent = 'Passwords do not match.';
                return;
            }

            const token = new URLSearchParams(window.location.search).get('token');

            try {
                const response = await fetch('http://localhost:3000/api/v1/auth/change-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token, newPassword: password }),
                });

                if (!response.ok) {
                    const errorMessage = await response.text();
                    throw new Error(errorMessage);
                }

                window.location.href = 'login.html'; // Redireccionar al inicio de sesión después de cambiar la contraseña
            } catch (error) {
                errorMessage.textContent = error.message;
            }
        });
    </script>
</body>

</html>