<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/EcoUnity/static/inicio.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link />
    <title>Document</title>
 </head>
<body>
    <header>
        <div class="navbar">
          <div class="logo"><a>Ecounity</a></div>
          <ul class="links">
            <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
            <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
            <li><a href="/EcoUnity/src/views/index.html">Puntos de reciclaje</a></li>
            <li><a href="/EcoUnity/src/views/index.html">Puntos de reforestación</a></li>
            <li><a href="#">Información</a></li>
          </ul>
          <a href="/EcoUnity/templates/pages/login.html" class="action_btn">Acceder</a>
          <div class="toggle_btn">
            <i class='bx bx-menu'></i>
          </div>
    
          <div class="dropdown-menu ">
            <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
            <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
            <li><a href="/EcoUnity/src/views/index.html">Puntos de reciclaje</a></li>
            <li><a href="/EcoUnity/src/views/index.html">Puntos de reforestación</a></li>
            <li><a href="#">Información</a></li>
            <li><a href="/EcoUnity/templates/pages/login.html" class="action_btn">Acceder</a></li>
          </div>
        </div>
      </header>
</body>
</html>