<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="./../../static/inicio.css">
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="#">Ecounity</a></div>
        <ul class="links">
          <li><a href="./inicio.html">Inicio</a></li>
          <li><a href="./prueba.html">Productos</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
          <li><a href="#">Ayuda</a></li>
          <li id="welcomeMessage"></li>
        </ul>
        <a href="./../../templates/pages/login.html" class="action_btn">Acceder</a>


        <div class="toggle_btn">
          <i class="bx bx-menu"></i>
        </div>
        <div class="dropdown-menu">
          <ul>
            <li><a href="./inicio.html">Inicio</a></li>
            <li><a href="./prueba.html">Productos</a></li>
            <li><a href="./../../src/views/index.html">Puntos de reciclaje</a></li>
            <li><a href="./../../src/views/index.html">Puntos de reforestación</a></li>
          </ul>
        </div>
      </div>
    </header>
    <script>
  // button
  document.addEventListener('DOMContentLoaded', function() {
    var toggleBtn = document.querySelector('.toggle_btn');
    var dropdownMenu = document.querySelector('.dropdown-menu');

    toggleBtn.addEventListener('click', function() {
      dropdownMenu.classList.toggle('open');
    });
  });
  //button
      const Mail = localStorage.getItem("Mail");
      if (Mail) {
        const welcomeMessage = document.getElementById("welcomeMessage");
        welcomeMessage.textContent = "Bienvenid@ " + Mail;

        loginButton.textContent = "Cerrar sesión";

        loginButton.addEventListener("click", () => {
          localStorage.removeItem("token");
          localStorage.removeItem("Mail");
          window.location.href = "./../../templates/pages/login.html";
        });
      }
    </script>
  </body>
</html>
