<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../../static/prueba.css" />
    <title>PRODUCTOS</title>
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="#">Ecounity</a></div>
        <ul class="links">
          <li><a href="./inicio.html">Inicio</a></li>
          <li><a href="./prueba.html">Productos</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <a href="./../../templates/pages/login.html" id="loginButton" class="action_btn">Acceder</a>
        <div class="toggle_btn">
          <i class="bx bx-menu"></i>
        </div>

        <div class="dropdown-menu">
          <li><a href="./inicio.html">Inicio</a></li>
          <li><a href="./prueba.html">Productos</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="./../../templates/pages/login.html" class="action_btn">Acceder</a></li>
        </div>
        <li id="welcomeMessage"></li>
      </div>
    </header>

    <button>
      <a href="">

      </a>
    </button>

    <div class="container-principal">
      <!-- Formulario de búsqueda por ID -->
      <form id="searchForm">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="productName"
            placeholder="Buscar productos por nombre"
          />

        </div>
      </form>
      <br />
      <div class="row" id="data"></div>

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      const searchForm = document.getElementById("searchForm");
      const productNameInput = document.getElementById("productName");
      const dataContainer = document.getElementById("data");
      let allProducts = [];

      const Mail = localStorage.getItem("Mail");
      if (Mail) {
        const welcomeMessage = document.getElementById("welcomeMessage");
        welcomeMessage.textContent = "Bienvenid@ " + Mail;

        loginButton.textContent = "Cerrar sesión";

        loginButton.addEventListener("click", () => {
          localStorage.removeItem("token");
          localStorage.removeItem("Mail");
          window.location.href = "./../../templates/pages/login.html";
        });
      }

      // Función para cargar todos los productos
      const loadAllProducts = async () => {
        try {
          const response = await fetch("http://localhost:3000/api/v1/products");
          if (!response.ok) {
            throw new Error("Failed to fetch products");
          }
          allProducts = await response.json();
          updateTable(allProducts);
        } catch (error) {
          console.error("Error:", error);
          alert("Failed to fetch products");
        }
      };

      // Función para actualizar la tabla con los productos
      const updateTable = (products) => {
        let body = "";
        for (const product of products) {
          body += `
          <div class="container-principal">
          <div class="container-cards">
            <div class="product-card">
              <img src="${product.image}" alt="${product.name}">
              <p class ="price">$${product.price}</p>
              <h5>${product.name}</h5>
              <p>${product.description}</p>
              <button><a><box-icon name='cart-add'></box-icon></a></button>
            </div>
          </div>
        </div>
        `;
        }
        dataContainer.innerHTML = body;
      };

      const handleSearch = () => {
        const searchQuery = productNameInput.value.toLowerCase();
        const filteredProducts = allProducts.filter((product) =>
          product.name.toLowerCase().includes(searchQuery)
        );
        updateTable(filteredProducts);
      };

      productNameInput.addEventListener("input", handleSearch);
      productNameInput.addEventListener("input", () => {
        if (productNameInput.value.trim() === "") {
          loadAllProducts();
        }
      });

      // Cargar todos los productos al cargar la página
      loadAllProducts();
    </script>
  </body>
</html>
