<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/EcoUnity/static/reciclaje.css">
</head>
<body>
  <header>
    <div class="navbar">
      <div class="logo"><a href="#">Ecounity</a></div>
      <ul class="links">
        <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
        <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
        <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
        <li><a href="/EcoUnity/templates/pages/pqrs.html">Ayuda</a></li>
        <li id="welcomeMessage"></li>
      </ul>
      <a href="./../../templates/pages/login.html" id="loginButton" class="action_btn">Acceder</a>
      <div class="toggle_btn">
        <i class="bx bx-menu"></i>
      </div>
      <div class="dropdown-menu">
        <ul>
          <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
          <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
          <li><a href="/EcoUnity/templates/pages/pqrs.html">Ayuda</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section>
    <!-- container1 -->
    <h1 class="title">Instrucciones para Reciclar</h1>
    <h3 class="description">Aqui podras observar los residuos que van en cada caneca de basura.</h3>
    <div class="container-form1">
      <div class="form-information">
        <div class="form-information-childs">
          <i class='bx bxs-tree' style='color:#ffffff'  ></i>
          <h1 class="steps1">Caneca Verde</h1>
          <form class="form form-login" id="loginForm">
            <div class="info-s">
              Frutas, Verduras , 
              Hojas, Césped , 
              Restos de Café , Bolsas de Té , <br>
              Cáscaras de Huevo , 
              Residuos de Jardinería.
            </div>
          </form>
        </div>
      </div>
      <div class="information">
        <div class="info-childs">
          <img src="https://img.freepik.com/premium-vector/assorted-paper-trash-special-urn-recycle-bin-recycling-with-sorted-garbage-rubbish_168129-777.jpg"
            alt="suelo">
        </div>
      </div>
    </div>
       <!-- caneca de reciclaje desechos peligrosos  -->

       <div class="container-form2">
        <div class="form-information">
          <div class="form-information-childs">
            <i class='bx bxs-tree' style='color:#ffffff'  ></i>
            <h1 class="steps2">Caneca Roja</h1>
            <form class="form form-login" id="loginForm">
              <div class="info-s">
                Pilas, Baterías , 
                Medicamentos Caducados ,
                Aerosoles , Pinturas , <br>
                Residuos Electrónicos , Bombillas,
                Vidrios Rotos , Objetos Cortantes.
              </div>
            </form>
          </div>
        </div>
        <div class="information2">
          <div class="info-childs">
            <img src="https://img.freepik.com/premium-vector/assorted-plastic-trash-special-urn-recycle-concept-bin-recycling-with-sorted-garbage-rubbish_168129-736.jpg"
              alt="suelo">
          </div>
        </div>
      </div>


      <div class="container-form3">
        <div class="form-information">
          <div class="form-information-childs">
            <i class='bx bxs-tree' style='color:#ffffff'  ></i>
            <h1 class="steps3">Caneca Azul </h1>
            <form class="form form-login" id="loginForm">
              <div class="info-s">
                Papel , Cartón ,
                Revistas , Periódicos ,
                Cuadernos , Hojas de Papel , <br>
                Cajas de Cartón , Envases de Cartón ,
                Folletos , Sobres.
              </div>
            </form>
          </div>
        </div>
        <div class="information3">
          <div class="info-childs">
            <img src="https://img.freepik.com/premium-vector/assorted-glass-trash-special-urn-recycle-concept-bins-recycling-with-sorted-garbage-rubbish_168129-837.jpg"
              alt="suelo">
          </div>
        </div>
      </div>


      <div class="container-form4">
        <div class="form-information">
          <div class="form-information-childs">
            <i class='bx bxs-tree' style='color:#ffffff'  ></i>
            <h1 class="steps4">Caneca Amarilla</h1>
            <form class="form form-login" id="loginForm">
              <div class="info-s">
                Botellas de Plástico , Envases de Plástico ,
                Latas de Aluminio , Latas de Conservas , <br> 
                Envases de Leche y Zumos ,
                Bolsas de Plástico ,
               , Envases de Yogur.
              </div>
            </form>
          </div>
        </div>
        <div class="information4">
          <div class="info-childs">
            <img src="https://img.freepik.com/premium-vector/garbage-bin-with-plastic-waste-recycling-garbage-vector-illustration_263366-45.jpg"
              alt="suelo" id="imagenes">
          </div>
        </div>
      </div>
</body>
<script>
</script>
</html>