<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mapa EcoUnity</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="/EcoUnity/static/index.css">
</head>

<body>
  <header>
    <div class="navbar">
      <div class="logo"><a href="#">Ecounity</a></div>
      <ul class="links">
        <li><a href="./inicio.html">Inicio</a></li>
        <li><a href="./prueba.html">Productos</a></li>
        <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
        <li><a href="/EcoUnity/templates/pages/pqrs.html">Ayuda</a></li>
        <li id="welcomeMessage"></li>
      </ul>
      <a href="./../../templates/pages/login.html" id="loginButton" class="action_btn">Acceder</a>

      <div class="toggle_btn">
        <i class="bx bx-menu"></i>
      </div>
      <div class="dropdown-menu">
        <ul>
          <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
          <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reciclaje</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reforestación</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">
    <span>Puntos de reforestación</span>
    <div id="map-template"></div>

    <button id="info-btn" class="button">Información</button>
  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script>
    // button
    document.addEventListener('DOMContentLoaded', function () {
      var toggleBtn = document.querySelector('.toggle_btn');
      var dropdownMenu = document.querySelector('.dropdown-menu');

      toggleBtn.addEventListener('click', function () {
        dropdownMenu.classList.toggle('open');
      });
    });
    //button

    const Mail = localStorage.getItem("Mail");
    if (Mail) {
      const welcomeMessage = document.getElementById("welcomeMessage");
      welcomeMessage.textContent = "Bienvenid@ " + Mail;

      loginButton.textContent = "Cerrar sesión";

      loginButton.addEventListener("click", () => {
        localStorage.removeItem("token");
        localStorage.removeItem("Mail");
        window.location.href = "./../../templates/pages/login.html";
      });
    }
    // Obtiene el botón para regresar a la página anterior
    const backButton = document.getElementById("info-btn");
    backButton.addEventListener("click", () => {
      window.location.href = "./recomendations.html";
    });
    // Inicializa el mapa
    const map = L.map("map-template").setView([4.6089, -74.0875], 12);

    // Agrega una capa base de OpenStreetMap
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    // Función para obtener los puntos desde el endpoint
    async function getMapPoints() {
      try {
        const response = await fetch("http://localhost:3000/api/v1/points");
        const mapPoints = await response.json();
        return mapPoints;
      } catch (error) {
        console.error("Error fetching map points:", error);
        return [];
      }
    }

    // Función para crear círculos en el mapa
    async function createMapCircles() {
      const mapPoints = await getMapPoints();

      mapPoints.forEach((point) => {
        const popupContent = `<b>${point.title}</b><br>${point.description}`;
        const circle = L.circle([point.latitude, point.longitude], {
          color: "green",
          fillColor: "green",
          fillOpacity: 0.25,
          radius: 500,
        }).addTo(map);

        circle.bindPopup(popupContent);
      });
    }

    // Carga los círculos cuando el mapa esté listo
    window.onload = async () => {
      await createMapCircles();
    };

    // Mostrar/ocultar recomendaciones al hacer clic en el botón "Información"
    const infoBtn = document.getElementById("info-btn");

    infoBtn.addEventListener("click", () => {
      const recomendations = document.querySelector(".recomendations");
      if (recomendations.style.display === "none") {
        recomendations.style.display = "flex";
      } else {
        recomendations.style.display = "none";
      }
    }


    );
  </script>
</body>

</html>