<!DOCTYPE html>
<html lang="es">

<head>
  
  <meta charset="UTF-8" />
  <title>Flashcards</title>
  <link rel="stylesheet" href="/EcoUnity/static/reconmedations.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
</head>

<body>
  <header>
    <div class="navbar">
      <div class="logo"><a href="#">Ecounity</a></div>
      <ul class="links">
        <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
        <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
        <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
        <li><a href="/EcoUnity/templates/pages/pqrs.html">Ayuda</a></li>
        <li id="welcomeMessage"></li>
      </ul>
      <a href="./../../templates/pages/login.html" id="loginButton" class="action_btn">Acceder</a>
      <div class="toggle_btn">
        <i class="bx bx-menu"></i>
      </div>
      <div class="dropdown-menu">
        <ul>
          <li><a href="/EcoUnity/templates/pages/inicio.html">Inicio</a></li>
          <li><a href="/EcoUnity/templates/pages/prueba.html">Productos</a></li>
          <li><a href="./../../src/views/index.html">Puntos de reciclaje y reforestación</a></li>
          <li><a href="/EcoUnity/templates/pages/pqrs.html">Ayuda</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section>
    <!-- container1 -->
    <h1 class="title">Instrucciones para Plantar</h1>
    <h3 class="description">En este lugar, aprenderás cómo sembrar árboles y plantas de manera correcta.</h3>
    <div class="container-form login">
      <div class="form-information">
        <div class="form-information-childs">
          <i class='bx bxs-tree' style='color:#ffffff'  ></i>
          <h1 class="steps">1er Paso</h1>
          <form class="form form-login" id="loginForm">
            <div class="info-p">
              Mullir el suelo en casillas de plantación de 30 x 30 x 30 cm.
            </div>
            <div class="info-s">
              Esto significa remover y aflojar la tierra hasta esa profundidad y tamaño <br>
              para facilitar el crecimiento de las raíces.
            </div>
          </form>
        </div>
      </div>
      <div class="information">
        <div class="info-childs">
          <img src="https://images.pexels.com/photos/7728106/pexels-photo-7728106.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="suelo">
        </div>
      </div>
    </div>

    <!-- container2 -->
    <div class="container-form2">
      <div class="information">
        <div class="info-childs">
          <img src="https://images.pexels.com/photos/7728884/pexels-photo-7728884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="suelo">
        </div>
      </div>
         <div class="form-information">
        <div class="form-information-childs">
          <i class='bx bxs-tree' style='color:#ffffff'  ></i>
          <h1 class="steps">2do Paso</h1>
          <form class="form form-login" id="loginForm">
            <div class="info-p">
              Abrir un hueco del tamaño suficiente para introducir la raíz de la planta.
            </div>
            <div class="info-s">
              Esto significa que el hoyo debe ser lo suficientemente grande para acomodar todas las <br>
              raíces sin doblarlas o amontonarlas.
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- container3 -->
    <div class="container-form3">
      <div class="form-information">
        <div class="form-information-childs">
          <i class='bx bxs-tree' style='color:#ffffff'  ></i>
          <h1 class="steps" >3cer Paso</h1>
          <form class="form form-login" id="loginForm">
            <div class="info-p">
              Selecciona un tutor adecuado.
            </div>
            <div class="info-s">
              Elige un tutor de madera que sea largo y resistente para soportar la planta. <br>
              Puedes usar palos de madera de jardín o incluso ramas gruesas.
            </div>
          </form>
        </div>
      </div>
      <div class="information">
        <div class="info-childs">
          <img src="https://images.pexels.com/photos/12768154/pexels-photo-12768154.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="suelo">
        </div>
      </div>
    </div>

    <!-- container4cambiar -->
    <div class="container-form4">
      <div class="information">
        <div class="info-childs">
          <img src="https://images.pexels.com/photos/7728082/pexels-photo-7728082.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="suelo">
        </div>
      </div>
         <div class="form-information">
        <div class="form-information-childs">
          <i class='bx bxs-tree' style='color:#ffffff'  ></i>
          <h1 class="steps">4to Paso</h1>
          <form class="form form-login" id="loginForm">
            <div class="info-p">
              Compactar el suelo con las manos.
            </div>
            <div class="info-s">
              Compactar el suelo alrededor de la planta puede ser beneficioso para asegurar un buen contacto entre las raíces y el suelo. <br>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- container5 -->

    <div class="container-form5">
      <div class="form-information">
        <div class="form-information-childs">
          <i class='bx bxs-tree' style='color:#ffffff'  ></i>
          <h1 class="steps">5to Paso</h1>
          <form class="form form-login" id="loginForm">
            <div class="info-p">
              Riega la planta.
            </div>
            <div class="info-s">
              Asegúrate de regar uniformemente alrededor de la planta para que el agua alcance las raíces recién plantadas.
            </div>
          </form>
        </div>
      </div>
      <div class="information">
        <div class="info-childs">
          <img src="https://images.pexels.com/photos/4750274/pexels-photo-4750274.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
            alt="suelo">
        </div>
      </div>
    </div>
  </section>
</body>
<script>
      const toggleBtn = document.querySelector(".toggle_btn");
    const dropDownMenu = document.querySelector(".dropdown-menu");

    toggleBtn.onclick = function () {
      dropDownMenu.classList.toggle("open");
    };

    const Mail = localStorage.getItem("Mail");
      if (Mail) {
        const welcomeMessage = document.getElementById("welcomeMessage");
        welcomeMessage.textContent = "Bienvenid@ " + Mail;

        loginButton.textContent = "Cerrar sesión";

        loginButton.addEventListener("click", () => {
          localStorage.removeItem("token");
          localStorage.removeItem("Mail");
          window.location.href = "./../../templates/pages/login.html";
        });
      } 
</script>
</html>