
:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }


  .modal-content {
    background-color: var(--white);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Estilos personalizados */
  body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    height:100vh;
  }

  .btn-back {
    background-color: var(--hospital-green);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container-buttons {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
  }
  
  .btn-back {
    background-color: var(--hospital-green);
    color: var(--black);
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 160px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 720px;
  }
  
  .btn-cls {
    background-color: var(--hospital-green);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    height: 55px;
    width: 160px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-add {
    background-color: var(--hospital-green);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    height: 55px;
    width: 160px;
    margin-left: 750px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container-create {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    border: 1.5px solid var(--hospital-green);
  }
  
  .container-map-points {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    border: 1.5px solid var(--hospital-green);
  }
  
  .map-point-box {
    border: 1px solid var(--hospital-green);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 300px;
    width: 300px;
  }
  
  .map-point-box p {
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .map-point-box p:nth-child(1) {
    font-weight: bold;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  a {
    color: var(--hospital-green);
  }
  
  .create-map-point-form {
    margin-top: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .button-delete,
  .button-update {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    margin-left: 50px;
  }
  
  .button-delete:hover,
  .button-update:hover {
    background-color: #c82333;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1400px) {
    .btn-back, .btn-cls {
      margin-left: 200px;
      margin-right: auto;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      text-align: center;
    }

    .btn-add  {
      margin-left: 130px;
      margin-right: auto;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .container-buttons {
      flex-direction: column;
      height: auto;
    }
    
    .container-create,
    .container-map-points {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    
    .map-point-box {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
 
  
  @media (max-width: 576px) {
    .container-create,
    .container-map-points {
      width: 100%;
      padding: 10px;
    }
  
    .map-point-box {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  }
  