:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--hospital-green);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  margin-top: 10px;
  margin-left: 100px;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--hospital-green);
  /* Manteniendo el color del logo */
}

.navbar .links {
  display: flex;
  gap: 1rem;
}

.toggle_btn {
  color: var(--hospital-green);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  /* Oculto por defecto */
}

.action_btn {
  background-color: var(--hospital-green);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: transform 0.2s ease;

}

.action_btn:hover {
  transform: scale(1.05);

}

.action_btn:active {
  transform: scale(0.95);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  background: var(--white);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 0.9rem;
}

.dropdown-menu .action_btn {
  width: 100%;
}

/* Responsive design */
@media (max-width: 992px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown-menu {
    position:absolute ;
    width: 50%;
    display: none;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    right: unset;
    left: 0;
    width: 100%;
    border-radius: 0;
  }

  .navbar .logo a {
    margin-left: 1rem;
  }
}

body {
  margin: 0;

  place-items: center;
  font-family: var(--sm);
}

.update-button {
  width: 100px;
  border-radius: 5px;
  margin-top: 8%;
  background-color: var(--hospital-green);
}

.container-create {
  width: 1280px;
  height: 660px;
  margin-top: 120px;
  background: var(--bg-color);
  box-shadow: 8px 8px 8px 8px  rgb(14 55 54 / 8%);
  padding: 10px 10px 80px;
  border-radius: 6px;
  border: 1px var(--hospital-green) solid;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}

.container-create h1 {
  font-size: var(--lg);
  font-weight: 200;
  margin: 10px 10px 20px 10px;
}

.create-product-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--hospital-green);
  color: var(--black);
  border: 1px solid var(--black);
  align-items: center;
  justify-content: space-between;
}

.container-products {
  position:flex;
  width: 1280px;
  height: 200vh;
  margin-top: 20px;
  background: var(--bg-color);
  box-shadow: 8px 8px 8px 8px rgb(14 55 54 / 15%);
  padding: 10px 10px 80px;
  border-radius: 6px;
  border: 1px var(--hospital-green) solid;
  margin-left: 300px;
}

.container-products h1 {
  font-size: var(--lg);
  font-weight: 200;
  margin: 10px 10px 20px 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid var(--hospital-green);
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.product-box {
  border: 2px solid var(--hospital-green);
  padding: 8px;
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.product-box img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  padding: 8px;
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (max-width: 1400px) {
  .container-create, .container-products {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .container-create, .container-products {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-create {
    margin-top: 60px;
  }

  .modal-content {
    width: 90%;
    margin: 15% auto;
  }
}

@media (max-width: 768px) {
  .container-create, .container-products {
    width: 95%;
    padding: 10px;
  }

  .create-product-form {
    padding: 10px;
  }

  .product-box {
    height: auto;
  }
}

@media (max-width: 576px) {
  .container-create, .container-products {
    width: 100%;
    padding: 5px;
  }

  .create-product-form {
    padding: 5px;
  }

  .modal-content {
    width: 95%;
    margin: 25% auto;
  }

  .product-box {
    height: auto;
  }
}